#macro(includeClassifications)

<table class="table table-bordered" id="classifications">
  <tbody>
    #foreach($classification in $classifications)
      #set($key = $classification.getKey())
      #set($_sanitize_value = $classification.getValue())
      <tr class="info">
        <th>$key</th>
        <td #if ($_sanitize_value.contains("nextgen"))
        		#if ($_sanitize_value.contains("clean")) style="background-color: #92DD96;" #end
        		#if ($_sanitize_value.contains("dirty")) style="background-color: #F2928C;" #end
			#end>
          $_sanitize_value
        </td>
      </tr>
    #end
  </tbody>
</table>

#end
