<!DOCTYPE html>
<html>
<head>
  #parse("/templates/headers.vm")
  #includeTitle("Features Overview")

  <script type="text/javascript">
  #parse("/templates/js/steps-chart.js.vm")
  #parse("/templates/js/scenarios-chart.js.vm")
  </script>
</head>

<body>

#includeNavigation("features")

#includeReportInfo(true)

#includeLead("Features Statistics", "The following graphs show passing and failing statistics for features")


#if(!$all_features.isEmpty())
	<div style="width: 600px; margin: 0 auto;">
		<div style="float: left;">
			<canvas id="scenarios-chart" height="300" width="300"></canvas>
		</div>
		<div style="float: left;">
			<canvas id="steps-chart" height="300" width="300"></canvas>
		</div>
	</div>
#end


<div class="container-fluid" id="report">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      #includeStatsTable("Feature", $parallel, $all_features, $report_summary)
    </div>
  </div>
</div>

#include("/templates/footer.vm")

</body>
</html>
