#macro(includeElement, $element, $linkToFeature)

<div class="element">
  #if ($linkToFeature)
    <div class="indention">
      <b>Feature:</b>
      <a href="$element.getFeature().getReportFileName()">$element.getFeature().getName()</a>
    </div>
  #end

  #includeTags($element.getTags())
  #includeDuration($element)

  #set($elementId = $counter.next())

  #set($isHavingWarnings = false)
  #foreach($step in $element.getSteps())
  	#foreach($output in $step.getOutputs())
  	  #foreach($_sanitize_message in $output.getMessages())
  	    #if ($_sanitize_message.contains(" WARN ")) #set($isHavingWarnings = true) #end
	    #end
	  #end
  #end

  <span data-toggle="collapse" class="#if ($element.getStatus().isPassed() && !$isHavingWarnings) collapsed #end collapsable-control" data-target="#element-$elementId">
    #includeBrief($element.getKeyword(), $element.getStatus(), $element.getName(), true)
  </span>
  <div class="description indention">$element.getDescription()</div>

  <div id="element-$elementId" class="collapse collapsable-details #if(!$element.getStatus().isPassed() || $isHavingWarnings) in #end">
    #includeHooks("Before", $element.getBefore(), $element.getBeforeStatus())

    #includeSteps($element.getSteps(), $isHavingWarnings)

    #includeHooks("After", $element.getAfter(), $element.getAfterStatus())
  </div>
</div>

#end
